
.stApp {
    background: linear-gradient(to bottom right, #f8e9f4, #e6f0ff, #ffeaea);
    color: #333;
    font-family: 'Segoe UI', sans-serif;
}


h1, h2, h3 {
    color: #6a1b9a !important;
    text-align: center;
}

.stButton>button {
    background-color: #a29bfe;
    color: rgb(237, 200, 239);
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.stButton>button:hover {
    background-color: #6c5ce7;
}

.result-card {
    padding: 20px;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: rgb(237, 204, 243);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.flood {
    background: linear-gradient(135deg, #74b9ff, #0984e3);
}
.heatwave {
    background: linear-gradient(135deg, #fab1a0, #ff7675);
}

.confidence-bar {
    margin-top: 10px;
    background-color: #ead1d1;
    border-radius: 20px;
    overflow: hidden;
}
.confidence-fill {
    height: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
}
